body {
    background-color: rgb(17,38,50);
}

.testimonial .author-photo img {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.mainmenu-wrapper {
    background-color: #3F2419;
    border-bottom-color: #DBC08B;
}

.mainmenu > ul > li.active > a, .mainmenu .mainmenu-submenu-inner > li.active > a {
    color: #EEF2F1;
}

.mainmenu > ul > li > a:hover, .mainmenu .mainmenu-submenu-inner > li > a:hover {
    color: #AF9A7D;
}

.mainmenu > ul > li > a:hover, .mainmenu .mainmenu-submenu-inner > li > a:hover {
    color: #AF9A7D;
    text-decoration: none;
}


body {
    background: url(../img/page-background-1.png);
}

.footer {
    background: #3F2419;
    color: #EEF2F1;
    border-top: 4px solid #DBC08B;
    -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
    box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
    color: 0 -1px 12px rgba(0,0,0,0.4);
}

.footer-copyright {
    color: #8D9999;
}

#sequence .title {
    font-size: 40px;
    font-style: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#sequence .subtitle {
    font-size: 30px;
}

.portfolio-item-description .price {
    font-size: 1.4em;
    font-weight: 700;
    text-align: left;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
    display: inline;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
}

.portfolio-item-description .price-was {
    text-decoration: line-through;
    font-size: 0.8em;
    font-weight: normal;
}

.section-breadcrumbs {
    background: #8C7658;
}

.testimonial .testimonial-bubble {
    text-align: center;
}

.shopping-cart .type {
    color: white;
    font-size: 1.2em;
    width: 80px;
    text-align: center;
}

.row-form {
    border-top: 1px dotted #7C7C7C;
    margin: 0px 0px;
    margin-top: 20px;
    padding-top: 20px;
}

.menuextras .extras li {
    margin-top: 15px;
    color: #339033;
    font-size: 17px;
    text-decoration: underline;
}

    .menuextras .extras li a {
        color: #FFF;
        margin-top: -5px;
    }

        .menuextras .extras li a:hover {
            background: none repeat scroll 0 0 #3b3c41;
            color: #FFF;
            text-decoration: none;
            border: 1px solid #3b3c41;
        }

.menuextras {
    height: 0;
}

.shop-item img {
    max-width: 100%;
    height: 200px;
}

kbd {
    margin-top: 10px;
    margin-right: 3px;
    display: inline-block;
}

.shopping-cart .image, .shopping-cart .image img {
    padding-right: 10px;
}

table.shopping-cart hr{
    margin: 10px -1em;
}

table.events-list tr.titulo-tr{
    background-color: white;
}

.form-group textarea.form-control{
    height: 100%;
}

.form-group textarea.form-control{
    height: 100%;
}

table.events-list tr td.content{
    text-align: left;
}