﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Administrador/_AdmiMaster.cshtml";
}

<h1>Bienvenido señor(a) al menu de administración</h1>

<p>Aquí encontrara los menus necesarios para ingresar y modificar los productos a su gusto, así como las categorias de estos.</p>
<p>Selecciona una de las opciones de la izquierda</p>