﻿@model Proyecto_CoffeeRun.Models.usuario

@{
    ViewBag.Title = "Index";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Entrar</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="basic-login">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            @*<label for="login-username"><i class="icon-user"></i><b>Username</b></label>*@
                            @*<input runat="server" id="textUsername" class="form-control" type="text" placeholder="">*@
                            @Html.LabelFor(m => m.nombre)
                            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @*<label for="login-password"><i class="icon-lock"></i><b>Password</b></label>*@
                            @*<input class="form-control" id="login-password" type="password" placeholder="">*@
                            @Html.LabelFor(m => m.contrasena)
                            @Html.PasswordFor(m => m.contrasena, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @*<%--<a href="page-password-reset.html" class="forgot-password">Forgot password?</a>--%>*@
                            @*<asp:Button ID="buttonLoginUp" runat="server" Text="Login" CssClass="btn pull-right" OnClick="buttonLoginUp_Click" />*@
                            <input type="submit" value="Iniciar" class="btn pull-right" />
                            <div class="clearfix"></div>
                            @Html.ValidationSummary()
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/validate")