﻿@model Proyecto_CoffeeRun.Models.categoria
@using Proyecto_CoffeeRun.Models;


@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Administrador/_AdmiMaster.cshtml";
}

@using (Html.BeginForm("Crear", "Categoria", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row row-form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, "Nombre")
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
          
            <input type="submit" class="btn btn-default" value="Crear" />
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" });

        </div>
       
    </div>
}
