﻿@model PagedList.PagedList<Proyecto_CoffeeRun.Models.producto>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Arte";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Inspírate y Escoges</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 pull-right">
                    <div class="portfolio-item">
                        <div class="portfolio-image">
                            <a href="page-portfolio-item.html">
                                <img src=" ~/Content/img/arte-cafe/@item.imagen" alt="Arte de Cafe" />
                            </a>
                        </div>
                        <div class="portfolio-info-fade">
                            <ul>
                                <li class="portfolio-project-name">@item.nombre</li>
                                <li>
                                    <div class="price">
                                        + $ @item.precio
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Arte", new { page, pageSize = Model.PageSize }), new PagedListRenderOptions { ContainerDivClasses = new [] {"pagination-wrapper"}, UlElementClasses = new [] { "pagination pagination-lg"} })