﻿@model IEnumerable<Proyecto_CoffeeRun.Models.pagina>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Administrador/_AdmiMaster.cshtml";
}

<h2>Paginas</h2>

<table class="events-list">
    @foreach(var item in Model)
    {
        <tr class="titulo-tr">
            <td>
                <div class="event-date">
                    <div class="event-day">@Html.DisplayFor(modelItem => item.titulo)</div>
                    <div class="event-month">TITULO</div>
                </div>
            </td>
            <td>
                <div class="event-date">
                    <div class="event-day">@Html.DisplayFor(modelItem => item.menu)</div>
                    <div class="event-month">MENU</div>
                </div>
            </td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-grey btn-sm event-more" })</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" class="content">
                @Html.Raw(item.contenido)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <hr/>
            </td>
        </tr>
    }
    @*<tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.titulo)</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.menu)</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.menu)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <b>@Html.DisplayNameFor(model => model.contenido)</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Raw(item.contenido)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            </td>
        </tr>*@
</table>
