﻿@model Proyecto_CoffeeRun.Models.producto
@using Proyecto_CoffeeRun.Models;

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Administrador/_AdmiMaster.cshtml";
}

@using (Html.BeginForm("Crear", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row row-form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, "Nombre")
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.descripcion, "Descripcion")
                @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control" } )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.precio, "Precio")
                @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.tipo, "Tipo")
                @Html.DropDownListFor(model => model.tipo, new SelectList(new List<object>
                       {
                            new {value = "cafe", text = "Café"},
                            new {value = "bocado", text = "Bocado"},
                            new {value = "arte", text = "Arte"}
                       },
                       "value",
                       "text",
                       null),
                       htmlAttributes: new { @class = "form-control" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.categoria, "Categorias")
                @Html.ListBox("Categorias", ViewBag.categorias as MultiSelectList, htmlAttributes: new { @class = "form-control" })
            </div>
            <input type="submit" class="btn btn-default" value="Crear" />
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" });

        </div>
        <!-- Imagen -->
        <div class="col-md-6">
            <div class="form-group">
                <label>Imagen</label>
                @Html.LabelFor(model => model.imagen, "Imagen")
                <input type="file" name="file">
                <p class="help-block">Selecciona una imagen para el producto</p>
            </div>
        </div>
    </div>
}